[submodule "ejemplos_Coromoto/T4-concurrente"]
	path = ejemplos_Coromoto/T4-concurrente
	url = git@github.com:ULL-ESIT-LPP-2324/concurrente.git
[submodule "ejemplos_Coromoto/T5/1-bloques"]
	path = ejemplos_Coromoto/T5/1-bloques
	url = git@github.com:ULL-ESIT-LPP-2324/bloques.git
[submodule "ejemplos_Coromoto/T5/2-clousures"]
	path = ejemplos_Coromoto/T5/2-clousures
	url = git@github.com:ULL-ESIT-LPP-2324/closures.git
[submodule "ejemplos_Coromoto/T5/3-metaprogramming"]
	path = ejemplos_Coromoto/T5/3-metaprogramming
	url = git@github.com:ULL-ESIT-LPP-2324/metaprogramming.git
[submodule "ejemplos_Coromoto/T5/4-dsl"]
	path = ejemplos_Coromoto/T5/4-dsl
	url = git@github.com:ULL-ESIT-LPP-2324/dsl.git
[submodule "ejemplos_Coromoto/T2-estructurada-UT"]
	path = ejemplos_Coromoto/T2-estructurada-UT
	url = git@github.com:ULL-ESIT-LPP-2324/UT-Figuras-Geometricas.git
[submodule "ejemplos_Coromoto/T3/POO"]
	path = ejemplos_Coromoto/T3/POO
	url = git@github.com:ULL-ESIT-LPP-2324/POO.git
[submodule "ejemplos_Coromoto/T3/TDD-Punto"]
	path = ejemplos_Coromoto/T3/TDD-Punto
	url = git@github.com:ULL-ESIT-LPP-2324/TDD-Punto.git
[submodule "ejemplos_Coromoto/T3/Guard"]
	path = ejemplos_Coromoto/T3/Guard
	url = git@github.com:ULL-ESIT-LPP-2324/guard-Punto.git
[submodule "ejemplos_Coromoto/T3/yard"]
	path = ejemplos_Coromoto/T3/yard
	url = git@github.com:ULL-ESIT-LPP-2324/yard-punto.git
[submodule "ejemplos_Coromoto/T3/variables-y-ctes"]
	path = ejemplos_Coromoto/T3/variables-y-ctes
	url = git@github.com:ULL-ESIT-LPP-2324/variables_constantes.git
